.hero__container._container {
  padding: 1px;
  position: relative;
}
.hero__section._section {
  padding-top: 165px;

  @media screen and (max-width: 1020px) {
    padding-top: 145px;
  }
  @media screen and (max-width: 980px) {
    padding-top: 135px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 84px;
  }
}
.slider__title._anim-items {
  transform: translate(0px, 120px);
  opacity: 0;
  transition: all 0.8s ease 0;
}
.slider__title._anim-items._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.1s;
}

.slider__description._anim-items {
  transform: translate(0px, 150%);
  opacity: 0;
  transition: all 0.8s ease 0;
}
.slider__description._anim-items._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.1s;
}
.hero__slide {
  position: relative;
  position: relative;
}
.slider__content-img {
  max-width: 100%;
  position: relative;
  @media screen and (max-width: 720px) {
    height: 294px;

    object-fit: cover;
  }
}

.slick-list {
  overflow: hidden;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none;
}

.slick-arrow.slick-prev {
  left: 1%;
  background: url("./img/hero/left.svg") 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next {
  right: 1%;
  background: url("./img/hero/right.svg") 0 0 / 100% no-repeat;
}

.slick-track {
  display: flex;
}

.slick-dots {
  display: none;
}
.slider__content {
  text-align: center;
  background-color: white;
  position: absolute;
  top: 0;
  left: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 75px;
  max-width: 462px;

  &::before {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color_accent;
    @media screen and (max-width: 720px) {
      width: 5px;
    }
  }
  @media screen and (max-width: 1540px) {
    padding: 50px 55px;
    max-width: 350px;
  }
  @media screen and (max-width: 1180px) {
    left: 31px;
    padding: 35px 35px;
    max-width: 300px;
  }
  @media screen and (max-width: 960px) {
    padding: 22px 22px;
    max-width: 220px;
  }
  @media screen and (max-width: 720px) {
    left: 11px;
    padding: 10px 10px;
    max-width: 180px;
  }
}
// ===========================================

.slider__title {
  font-size: 64px;
  line-height: 100%;
  &:not(:last-child) {
    margin-bottom: 50px;
    @media screen and (max-width: 960px) {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 1540px) {
    font-size: 44px;
  }
  @media screen and (max-width: 1180px) {
    font-size: 30px;
  }
  @media screen and (max-width: 960px) {
    font-size: 22px;
  }
}
.slider__sub-title {
  font-size: 36px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 1540px) {
    font-size: 28px;
  }
  @media screen and (max-width: 1180px) {
    font-size: 22px;
  }
  @media screen and (max-width: 960px) {
    font-size: 14px;
  }
}
.slider__description {
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (max-width: 960px) {
      margin-bottom: 15px;
    }
  }
  @media screen and (max-width: 1540px) {
    font-size: 24px;
  }
  @media screen and (max-width: 1180px) {
    font-size: 18px;
  }
  @media screen and (max-width: 960px) {
    font-size: 14px;
  }
}
.slider__link {
  background: $color_accent;
  border-radius: 3px;
  padding: 14px 46px;
  font-size: 18px;
  text-transform: uppercase;
  color: $color_white;
  @media screen and (max-width: 1180px) {
    padding: 14px 26px;
  }
  @media screen and (max-width: 960px) {
    font-size: 14px;
    padding: 10px 15px;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
    @media screen and (max-width: 1180px) {
      margin-bottom: 25px;
    }
  }
  &:hover,
  &:focus {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  }
}

.slider__position {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.slider__active {
  font-size: 36px;
  @media screen and (max-width: 1180px) {
    font-size: 22px;
  }
}
.slider__next {
  font-size: 24px;
  @media screen and (max-width: 1180px) {
    font-size: 14px;
  }
}
.slider__container-btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 8px;
}
.slider__btn-link {
  transition: $transition__stock;
  &:hover > .slider__icon {
    fill: $color_accent;
  }
}
.slider__icon {
  transition: $transition__stock;
  width: 30px;
  height: 30px;
}
